html {
  background: url(images/stary-sky.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 0;
  height: 100%;
  width: 100%
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  position: fixed;
}

h5 {
  color: #999999;
  font-family: 'Questrial', sans-serif;
  padding: 10px;
}

.d {
  border: 5px solid white;
  border-radius: 50px;
  color: white;
  font-size: 32px;
  width: 30%;
  margin: 20%;
  font-family: 'Julius Sans One', sans-serif;
}

h1 {
  margin: 0;
  padding: 10px 0 10px 20px;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 7% auto;
  width: 300px;
  font-family: 'Questrial', sans-serif;
/*  border: 1px solid white;*/
}

input {
    border-radius: 4px;
    font-size: 14px;
    background-color: grey;
    padding: 15px 20px 15px 40px;
    border: none;
    width: 80%;
    flex-wrap: wrap;
    opacity: 0.6;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid #ff0066;
}


.username {
  background-image: url('images/user-icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 25px;
  color: white;
}

.password {
  background-image: url('images/password.png');
  background-position: 13px 10px;
  background-repeat: no-repeat;
  background-size: 15px;
  color: white;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  font-family: 'Questrial', sans-serif;
  color: #999999;
  font-size: 13px;
}

button {
  background-color: #ff0066;
  font-family: 'Questrial', sans-serif;
  color: white;
  padding: 16px 27px;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  font-size: 14px;
  -webkit-transition: padding 2s; /* Safari */
  transition: padding 2s;
}

button:hover {
  background-color: #c10551;
  padding: 16px 50px;
}
